name: Lighthouse Audit

on:
  push:
    branches: [main]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Lighthouse
        uses: treosh/lighthouse-ci-action@v8
        with:
          urls: https://angelchv.github.io/card-sudoku/
          artifactName: lighthouse-results
